// ------------------- Variable Declarations ---------------------- //
$color-1: white;
$color-2: deeppink;
$color-3: darkviolet;
$color-4: darkturquoise;
$color-5: gold;
$font-family-1: 'Exo 2', sans-serif;
$font-family-2: 'Fira Mono', monospace;
$background-color-1: black;

// ------------------- Global Styles ---------------------- //

* {
	box-sizing: border-box;
	margin: 0%;
	color: $color-1;
	font-family: $font_family_1;
	&:after {
		box-sizing: border-box;
		margin: 0px;
		color: $color-1;
		font-family: $font_family_1;
	}
	&:before {
		box-sizing: border-box;
		margin: 0px;
		color: $color-1;
		font-family: $font_family_1;
	}
}

// ------------------- Users Landing Page ---------------------- //

.logo {
	height: auto;
}

.large-logo {
  width: 60%;
  margin-bottom: -350px;
  margin-top: -150px;
  margin-left: 20%;
  margin-right: 20%;
}

.small-logo {
  width: 30%;
  margin-bottom: -200px;
  margin-top: -80px;
  margin-left: 33%;
  margin-right: 30%;
}

body {
	background: url("../images/background.svg") no-repeat center fixed;
  background-size: 103%;
	background-color: $background-color-1;
	overflow: hidden;
	margin: 0%;
}

#landing-page {
  margin-top: 5%;
}

button {
	color: $color-1;
	height: 50px;
	width: auto;
	margin: 5px;
	font-size: 1.5rem;
  background-color: $color-2;
}

.error-message {
  color: $color-5;
  font-size: 1.3rem;
}

.disabled {
  pointer-events: none;
}

// ------------------- Instructions Popup ---------------------- //

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  position: absolute;
  background-color: $color_1;
  width: 74%;
  margin-top: 30px;
  border: $color_3 solid 10px;
  border-radius: 15px;
  margin-left: 13%;
  padding: 20px;
}

.instructions h2 {
  color: $color-2;
  font-size: 2em;
}

.instructions h3 {
  color: $color-3;
  font-size: 1.9em;
  padding: 15px;
}

.instructions p {
  color: black;
  font-size: .8em;
}

#load-game {
  width: 50%;
  margin: 10px;
  margin-left: 25%;
}

.player-names {
  color: $color-2;
}

// ------------------- Character Animation ---------------------- //

.pat-host {
  position: absolute;
  margin-right: 90%;
  top: 110%;
  left: -23%;
}

.vanna-host {
  height: auto;
  width: 12%;
  position: absolute;
  z-index: 15;
}

.slide-top {
	-webkit-animation: slide-top 2.5s cubic-bezier(0.785, 0.135, 0.150, 0.860) 2s both;
	        animation: slide-top 2.5s cubic-bezier(0.785, 0.135, 0.150, 0.860) 2s both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
}

.slide-in-fwd-right {
	-webkit-animation: slide-in-fwd-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	        animation: slide-in-fwd-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

@-webkit-keyframes slide-in-fwd-right {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(2000px);
            transform: translateZ(-1400px) translateX(2000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(650%);
            transform: translateZ(0) translateX(650%);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-right {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(2000px);
            transform: translateZ(-1400px) translateX(2000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(650%);
            transform: translateZ(0) translateX(650%);
    opacity: 1;
  }
}

.slide-left {
	-webkit-animation: slide-left 6s linear both;
	        animation: slide-left 6s linear both;
}

@-webkit-keyframes slide-left {
	0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
  100% {
    -webkit-transform: translateX(-650%);
            transform: translateX(-650%);
  }
}
@keyframes slide-left {
	0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
  100% {
    -webkit-transform: translateZ(0) translateX(-650%);
            transform: translateZ(0) translateX(-650%);
  }
}

// ------------------- Logo Animation ---------------------- //

.scale-down-top {
	-webkit-animation: scale-down-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-down-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-down-top {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 25%;
            transform-origin: 50% 25%;
  }
}
@keyframes scale-down-top {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 25%;
            transform-origin: 50% 25%;
  }
}




// ------------------- Wheel Animation ---------------------- //

.wheel-canvas {
  position: absolute;
  top: 20%;
  left: 30%;
  z-index: 50;
  border: solid $color_1 10px;
  border-radius: 260px;
  background-color: $color_1;
}

.black-bg {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 40;
}

.rotate-center {
	-webkit-animation: rotate-center 3.3s ease-in-out both;
	        animation: rotate-center 3.3s ease-in-out both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(770deg);
            transform: rotate(770deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(770deg);
            transform: rotate(770deg);
  }
}

.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.slide-out-bottom {
	-webkit-animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2.5s both;
	        animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2.5s both;
}

@-webkit-keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
}




// ------------------- Alphabet Banks ---------------------- //

.alphabet-btn {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	font-size: 35px;
	height: 30px;
	outline: none;
	padding: 0px;
	text-align: center;
	text-shadow: 0 0 7px black;
	transition: .8s ease;
	width: auto;
}

.alphabet-btn:hover {
	text-shadow: 0 0 12px $color_4;
	cursor: pointer;
	font-size: 50px;
	transition: .8s ease;
}

.alphabet-banks {
	background-color:rgba(148, 0, 211, 0.7);
	background-blend-mode: multiply;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 0 0 1%;
	margin: -0.4% 0.1% 0%;
}

.consonants-bank {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: auto;
}

.consonants-bank button {
	color: $color_1;
	margin: 1vw;
}

.vowels-bank {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: auto;
}

.vowels-bank button {
	color: $color_5;
	margin: 1vw;
}

// ------------------- Game Board ---------------------- //

#game-board {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0% 0% 1%;
	padding: 0;
}

// ------------------- Player Info ---------------------- //
.player-info {
	padding: 0;
	margin: 0% 0% 0%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 20%;
}

#round-num {
	font-size: 50px;
}

.player-card {
	border: 4px solid $color_1;
	border-left: none;
	border-radius: 0px 15px 15px 0px;
	padding: 0px 3px;
	margin: 1px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 70%;
	opacity: 70%;
}

#player-one {
	margin-top: 15%;
	background: $color_2;
	width: 90%;
	opacity: 100%;
  z-index: 20;
}

.player-card h3 {
	font-size: 30px;
}

#player-two {
	background: $color_3;
  z-index: 20;

}
#player-three {
	background: $color_4;
  z-index: 20;

}

// ------------------- Puzzle Board ---------------------- //
.puzzle-board {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
	width: 70%;
}

.row {
	background: $color_2;
	border: 10px groove $color_4;
	border-top: 10px ridge $color_3;
	border-bottom: 10px ridge $color_3;
	display: flex;
	flex-direction: row;
	padding: 0% 1%;
}

.first-row {
	border-bottom: none;
	border-radius: 10px 10px 10px 10px;
	overflow: hidden;
	margin-bottom: -10px;
	z-index: 4;
	padding-top: 5px;
}

.fourth-row {
	border-top: none;
	border-radius: 10px 10px 10px 10px;
	overflow: hidden;
	margin-top: -10px;
	z-index: 4;
	padding-bottom: 5px;
}

.second-row {
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	z-index: 3;
	padding-bottom: 3px;
	padding-top: 2px;
}

.third-row {
	border-top: none;
	border-radius: 0px 0px 10px 10px;
	z-index: 3;
	padding-bottom: 2px;
}

.letter-square {
	background: $color_4;
	background-image: url(../images/icon.png);
	background-blend-mode: lighten, multiply;
	background-repeat: round;
	border: 3px ridge $color_3;
	box-shadow: inset 0px 2px 7px 2px #003535, 0px 0px 3px 1px #c31d77;
	font-family: $font_family_1;
	height: 63px;
	line-height: 54px;
	width: 55px;
	margin: 4px 2px;
	text-align: center;
	font-size: 0px;
}

.preactive-square {
	background: $color_2;
	font-size: 50px;
}

.active-square {
	background: $color_1;
}

.letter {
	color: $color_3;
	font-family: $font_family_2;
	font-size: 0px;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	margin: 0;
}

.show-symbol {
	font-size: 65px;
}

// ------------------- Puzzle Board Animation ---------------------- //

.fade-in-fwd {
	-webkit-animation: fade-in-fwd 2.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 2.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

// ------------------- Turn Choice ---------------------- //
.turn-choice {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 10%;
  height: 280px;
	text-align: right;
  border-radius: 15px 0px 0px 15px;
  border: solid 5px $color_1;
  border-right: 0px;
  background-color: $color-4;
  font-size: 2rem;
}

.choice-button {
  margin-right: 10px;
}

.choice-button:hover {
  -webkit-animation: scale-up-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@-webkit-keyframes scale-up-right {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
}
@keyframes scale-up-right {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
}



.name-input {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(0,0,0,0.8);
  width: 76%;
  margin-left: 12%;
  flex-wrap: wrap;
  padding: 25px;
}

.player-name {
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: center;
  padding: 15px;
}

.player-input {
  width: 100%;
  height: 40px;
  margin: 25px;
  font-size: 1.5rem;
  font-weight: bold;
}

#start-game {
  width: 50%;
  height: 40px;
}

#first-input {
  color: $color-2;
}

#second-input {
  color: $color-3;
}

#third-input {
  color: $color-4;
}

// ------------------- Winners Page ---------------------- //

.winners-page {
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-wrap: wrap;
}

#game-winner {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  padding: 15px;
  width: 100%;
}

#first-place {
	color:$color-1;
	text-shadow: 0 0 5px $color-1, 0 0 10px $color-1, 0 0 15px $color-1, 0 0 20px $color-2, 0 0 30px $color-2, 0 0 40px $color-2, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
	letter-spacing: 5px;
	font-size: 1.5em;
  padding: 10px;
}


#game-runnerups {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
  font-size: 1.5em;
  flex-direction: row;
  padding: 30px;
}

#second-place,
#third-place {
  font-size: 1.5em;
  text-shadow: none;
  color: $color-2;
}

// ------------------- Star Animation ---------------------- //

img.glitter-star {
  position: absolute;
  height: 16px;
  width: 16px;

  animation: glitter 3s steps(3, end) infinite normal;
  -webkit-animation: glitter 3s steps(3, end) infinite normal;
  -moz-animation: glitter 3s steps(3, end) infinite normal;
  -ms-animation: glitter 3s steps(3, end) infinite normal;
  -o-animation: glitter 3s steps(3, end) infinite normal;
}

@keyframes glitter {
  0% {
    -webkit-transform: scale(1.0);
    opacity: 1;
  }
  25% {
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.0);
    opacity: 1;
  }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 1;
  }
}

// ------------------- Hidden Class ---------------------- //

.hidden {
	visibility: hidden;
	height: 0px;
	width: 0px;
}


.invisible {
  visibility: hidden;
}
